node_modules/
dist/
.zudoku/
.npm-cache/
.zudoku-state/
.sessions/

# Variables d'environnement & fichiers locaux
.env
*.local
**/.env
**/.env.local

# Dépôts applicatifs clonés de La Suite
LaSuite/
LaSuite/docs/
LaSuite/projects/
LaSuite/meet/
LaSuite/transfers/
LaSuite/people/
LaSuite/accounts/
LaSuite/docspec/
LaSuite/grist/
LaSuite/tchap/
LaSuite/drive/

# Builds des sous-projets et packages
documentation/dist/
demo/dist/
packages/*/dist/
packages/*/*.tgz
*.tgz
packages/*/node_modules/
packages/*/.turbo/
packages/*/.venv/
**/__pycache__/
*.pyc
.pytest_cache/
storybook-static/
**/storybook-static/

.vercel
.env*
packages/django-lasuite-sources/lasuite_sources/__pycache__/apps.cpython-311.pyc
packages/django-lasuite-sources/lasuite_sources/__pycache__/base.cpython-311.pyc
packages/django-lasuite-sources/lasuite_sources/__pycache__/registry.cpython-311.pyc
packages/django-lasuite-sources/lasuite_sources/__pycache__/tasks.cpython-311.pyc
packages/django-lasuite-sources/lasuite_sources/__pycache__/types.cpython-311.pyc
packages/django-lasuite-sources/lasuite_sources/__pycache__/urls.cpython-311.pyc
packages/django-lasuite-sources/lasuite_sources/__pycache__/views.cpython-311.pyc
packages/django-lasuite-sources/lasuite_sources/__pycache__/registry.cpython-311.pyc
